


/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* Root variables */
:root {
  --background-white: #0b1120;
  --text-primary: #fff;
  --font-family--heading: 'Instrument Serif', sans-serif;
}

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

